<?xml version="1.0"?>
<configuration>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="Off">
		</customErrors>
	</system.web>
  
	<connectionStrings>
		<add name="ConnString" connectionString="server=.;database=scdb;uid=sa;pwd=735038127"></add>
	</connectionStrings>

</configuration>
